<%- include('./partials/header.ejs', { title: 'About Me' }) %>

<main class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h1 class="mb-4">Yi-Lin "Aaron" Lou</h1>
            <p class="mb-4">
                Hey there! I'm a passionate software engineer based in Toronto, 
                fueled by my love for AI technology. 
                I thrive on pushing boundaries and crafting intelligent systems 
                that revolutionize the way we interact with technology. 
                When I'm not coding, you'll find me carving up the city streets on my skateboard, 
                capturing epic moments with my camera lens, 
                or getting lost in the captivating world of non-fiction books. 
                Currently honing my skills at Centennial College, 
                I'm on a relentless quest to embrace new challenges, expand my knowledge, 
                and make a positive impact in the ever-evolving realm of AI. 
            </p>
            <p>
                <a href="/images/resume.pdf" class="btn btn-primary">View Resume</a>
            </p>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <img src="/images/headshot.jpg" class="img-fluid rounded mb-4" alt="Headshot">
                </div>
                
            </div>
        </div>
    </div>
</main>

<%- include('./partials/footer.ejs') %>
