<%- include('./partials/header.ejs', {title: 'Home'}) %>

<section class="hero">
  <div class="container">
    <h1>Welcome to Aaron's Portfolio</h1>
    <img src="/images/img - index.jpg" class="img-fluid" alt="Responsive image">
    <p>I'm a Toronto based software developer with a focus on Machine Learning.</p>
    <a href="/about" class="button">About Me</a>
  </div>
</section>

<%- include('./partials/footer.ejs') %>
