<%- include('./partials/header.ejs', {title: 'Home'}) %>

<section class="hero mt-5">
  <div class="container">
    <h1 class="display-4">Welcome to Aaron's Portfolio</h1>
    <div class="ratio ratio-4x3">
      <img src="/images/img - index.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p class="lead">I'm a software developer based in Toronto, specializing in Machine Learning.</p>
    <a href="/about" class="btn btn-primary">Learn More</a>
  </div>
</section>

<%- include('./partials/footer.ejs') %>
