<%- include('./partials/header.ejs') %>
<section class="projects">
  <div class="container">
    <h2>Highlighted Projects</h2>
    <div class="project-list">
      <div class="project">
        <img src="/images/Project1-realestateagentwebsite.png" class="img-fluid" alt="Project 1">
        <div class="project-info">
          <h3>Real Estate Agent Website</h3>
          <p>I created a website using HTML5 and CSS3 for a fictional real estate agent.</p>
          
        </div>
      </div>
      <div class="project">
        <img src="/images/Project2-kanyewestdondawebsite.png"class="img-fluid" alt="Project 2">
        <div class="project-info">
          <h3>Kanye West's DONDA website</h3>
          <p>This is another website using HTML5 and CSS3 for Kanye West's song 'DONDA.'</p>
          
        </div>
      </div>
      <div class="project">
        <img src="/images/Project3-svmpredictbreastcancer.png" class="img-fluid" alt="Project 3">
        <div class="project-info">
          <h3>Breast cancer predictor model</h3>
          <p>This is a Machine Learning model using support vector machines to predict breast cancer.</p>
          
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('./partials/footer.ejs') %>